@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins&display=swap");

@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

.hero-logos {
  @apply size-14 absolute;
}

.float-animation-top {
  animation-name: float-top;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.float-animation-bottom {
  animation-name: float-bottom;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes float-top {
  from {
    top: 5rem;
  }
  to {
    top: 7rem;
  }
}

@keyframes float-bottom {
  from {
    bottom: 5rem;
  }
  to {
    bottom: 7rem;
  }
}
